
body {
    font-family: 'Lato', sans-serif;
    color:  #0f1d2e;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    line-height: 1em;
    text-transform: uppercase;
    margin:  0px;
}

@media (max-width: 1200px) {
    .responsive-h1 {
        font-size: 30px;
    }
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin:  0px;
}

h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin:  0px;
}

h4 {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin:  0px;
}

h3 a, h3 a:visited {
    color:  #1C3879;
    text-decoration: none;
}

.color-accent {
    color:  #0c1d2f;
}

.color-light {
    color: #f5f5f5;
}

.background-primary {
    background-color: #132e4e;
}

.background-accent {
    background-color:  #0c1d2f;
}

.background-light {
    background-color: #f5f5f5;
}

.text-header-secondary {
    color:  #fffeff;
}

.text-accent {
    color:  #19b5ff;
}

.text-muted {
    color:  #999999;
}

.nav-row {
    min-height: 64px;
}

.nav-row a, .nav-row a:hover, .nav-row a:visited {
    color:  #fffeff!important;
    text-decoration: none;
}

.identity {
    min-height: calc(200px - 1.5rem);
}

.divider {
    border-top: 1px solid #607EAA;
    width:  50%;
    margin-top:  20px;
    line-height: 20px;
}

.divider-light {
    border-top: 1px solid #fffeff;
    width:  50%;
    margin-top:  20px;
    line-height: 20px;
}

.custom-list {
    padding-left:  24px;
}

.gutter .custom-list {
    color: #fffeff;
}

.gutter .custom-list span {
    color: #fffeff!important;
}

.contact-details .icon-container {
    width:  24px;
    color:  #19b5ff;
}

.contact-details a, .contact-details a:hover, .contact-details a:visited {
    color:  #fffeff!important;
    text-decoration: none;
}

.btn-primary {
    background-color:  #607EAA!important;
    border-color:  #607EAA!important;
}
